{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'css/img/favicon.ico' %}">
    <title>Гороскоп дня</title>
</head>
<body style="margin-left:80px; margin-right:400px">
    <h1>Гороскоп дня</h1>
    <ul>
        <li>{{ today }}</li>
        {% for forecast in list_of_forecast %}
            <li><h2>{{ forecast.sing }}</h2></li>
            <li><p style="width=50%">{{ forecast.description|linebreaksbr }}</p></li>
        {% endfor %}
    </ul>
</body>
</html>